visualizer/node_modules/
DataSet/**
Files/**
simulation/__pycache__
simulation/docker/images/*
simulation/docker/images
simulation/__pycache__/
    
simulation/crypto/__pycache__/
simulation/crypto/__pycache__/*
